et-xmlfile==1.1.0 ; python_full_version > "3.9.0" and python_version < "3.14"
greenlet==3.0.3 ; python_full_version > "3.9.0" and python_version < "3.14"
markdown-it-py==3.0.0 ; python_full_version > "3.9.0" and python_version < "3.14"
mdurl==0.1.2 ; python_full_version > "3.9.0" and python_version < "3.14"
openpyxl==3.1.5 ; python_full_version > "3.9.0" and python_version < "3.14"
playwright==1.47.0 ; python_full_version > "3.9.0" and python_version < "3.14"
pyee==12.0.0 ; python_full_version > "3.9.0" and python_version < "3.14"
pygments==2.18.0 ; python_full_version > "3.9.0" and python_version < "3.14"
rich==13.9.2 ; python_full_version > "3.9.0" and python_version < "3.14"
typing-extensions==4.12.2 ; python_full_version > "3.9.0" and python_version < "3.14"
